*.o
*.lo
*.a
*.la
.deps
Makefile
Makefile.in
config.h
config.h.in
*.pc
*~

*.*~
*.sw?
.libs

# configure
aclocal.m4
autom4te.cache/
config.log
config.status
config.guess
config.sub
configure
compile
depcomp
install-sh
missing
stamp-h1
libtool
ltmain.sh
m4/*.m4

# testsuite
tests/atconfig
tests/package.m4
tests/testsuite.dir
tests/testsuite.log
tests/testsuite
tests/*/*Test
tests/*/*_test

# git-version-gen magic
.tarball-version
.version

tags
/deps
