Source: libosmo-gprs
Maintainer: Osmocom team <openbsc@lists.osmocom.org>
Section: libs
Priority: optional
Build-Depends: debhelper (>= 9),
               dh-autoreconf,
               pkg-config,
               autoconf,
               automake,
               libtool,
               git,
               libosmocore-dev (>= 1.7.0)
Standards-Version: 3.9.8
Vcs-Git: git://git.osmocom.org/libosmo-gprs.git
Vcs-Browser: http://git.osmocom.org/libosmo-gprs/
Homepage: https://projects.osmocom.org/projects/libosmo-gprs

Package: libosmo-csn1-0
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends},
	 ${shlibs:Depends}
Description: Osmocom CSN.1 codec library and message definition helpers
  This is a shared library containing the CSN.1 (Concrete Syntax Notation 1)
  codec and API for message definition.  The implementation is based on the
  original code by Vincent Helfre and Jari Sassi.

Package: libosmo-csn1-dbg
Architecture: any
Section: debug
Multi-Arch: same
Depends: libosmo-csn1-0 (= ${binary:Version}),
	 ${misc:Depends}
Description: Debug symbols for the Osmocom CSN.1 codec library

Package: libosmo-csn1-dev
Architecture: any
Multi-Arch: same
Section: libdevel
Depends: libosmo-csn1-0 (= ${binary:Version}),
	 ${misc:Depends}
Description: Development headers and libraries for the Osmocom CSN.1 codec

Package: libosmo-gprs-rlcmac0
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends},
	 ${shlibs:Depends}
Description: Osmocom RLC/MAC codec and message definitions for GPRS and EGPRS

Package: libosmo-gprs-rlcmac-dbg
Architecture: any
Section: debug
Multi-Arch: same
Depends: libosmo-gprs-rlcmac0 (= ${binary:Version}),
	 ${misc:Depends}
Description: Debug symbols for libosmo-gprs-rlcmac

Package: libosmo-gprs-rlcmac-dev
Architecture: any
Multi-Arch: same
Section: libdevel
Depends: libosmo-gprs-rlcmac0 (= ${binary:Version}),
	 ${misc:Depends}
Description: Development headers and libraries for libosmo-gprs-rlcmac
